<div bsModal #editFruitModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editFruitModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <form #editFruitForm="ngForm">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>Edit existing fruit</span>
                    </h4>
                </div>

                <div class="modal-body">

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input #fruitname autocomplete="off" id="fruitname" type="text" name="fruitName" [(ngModel)]="fruits.name" required class="form-control">
                                    <label for="fruitname" class="form-label">Fruit Name</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input #fruitname autocomplete="off" id="fruitcolour" type="text" name="fruitColour" [(ngModel)]="fruits.colour" required class="form-control">
                                    <label for="fruitcolour" class="form-label">Fruit Colour</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input autocomplete="off" id="fruitstock" type="text" name="fruitStock" [(ngModel)]="fruits.stockAvailable" required class="form-control">
                                    <label for="fruitstock" class="form-label">Stock Available</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input autocomplete="off" id="fruitprice" type="text" name="fruitPrice" [(ngModel)]="fruits.pricePerItem " required class="form-control">
                                    <label for="fruitprice" class="form-label">Price Per Item ($)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input autocomplete="off" id="fruitsupplier" type="text" name="fruitSupplier" [(ngModel)]="fruits.supplierRefId " required class="form-control">
                                    <label for="fruitsupplier" class="form-label">Supplier</label>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" (click)="close()">
                        Cancel
                    </button>
                    <button [disabled]="!editFruitForm.form.valid"type="submit" class="btn btn-primary waves-effect" (click)="save()">
                        Update
                    </button>
                </div>

            </form>



        </div>
    </div>
</div>