<div class="row clearfix" [@routerTransition]>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <a [routerLink]="['/app/supplier/supplierlist']">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="body m-l-20 m-r-20">


        <h2 class="text-left">{{suppliers.name}}</h2>



        <div class="row">
          <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <h4> Details
              <a href="javascript:void(0);" (click)="editSupplier(suppliers)">
                <i class="material-icons pull-right">create</i>
              </a>
            </h4>
            <hr>


            <label>Contact Person</label>
            <p>{{suppliers.contact}}</p>
            <br>
            <label>Phone Number</label>
            <p>{{suppliers.phone}}</p>
            <br>

            <label>Email Address</label>
            <p>{{suppliers.email}}</p>
          </div>
        </div>


        <div class="row ">
          <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <h4>Supplied Fruits
              <a href="javascript:void(0);">
                <i class="material-icons pull-right">create</i>
              </a>
            </h4>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

              <!--Fake table--> 
              <table class="table table-hover table-striped ">
                <thead>
                  <tr>
                    <th>Fruit</th>
                    <th style="width: 45%;">Supplier Price</th>
                    <th style="width: 5%;"></th>
                  </tr>
                </thead>

                <tr>
                  <td>Cherry</td>
                  <td>$0.20</td>
                  <td>
                    <a href="javascript:void(0);">
                      <i class="material-icons">clear</i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Apple</td>
                  <td>$0.10</td>
                  <td>
                    <a href="javascript:void(0);">
                      <i class="material-icons">clear</i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Banana</td>
                  <td>$0.50</td>
                  <td>
                    <a href="javascript:void(0);">
                      <i class="material-icons">clear</i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Orange</td>
                  <td>$0.99</td>
                  <td>
                    <a href="javascript:void(0);">
                      <i class="material-icons">clear</i>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<app-edit-supplier #editSupplierModal (modalSave)="reload()"></app-edit-supplier>