<div class="login-box">
    <div class="logo">
        <a href="javascript:void(0);"></a>
    </div>

    <!--<div *ngIf="showTenantChange()" class="tenant-change-box">
        <tenant-change></tenant-change>
    </div>-->

    <router-outlet></router-outlet>

    <!--<account-languages></account-languages>-->

    <div class="row m-t-50">
        <div class="co  l-sm-12 text-center" style="color: #ffffff">
            <small>&copy; {{currentYear}} fruitShop. <b>Version </b> {{versionText}}</small>
        </div>
    </div>
    
</div>